.main {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea */
    width: 100%;
}

.header {
    width: 100%;
}

.sidebar {
    width: 15%;
}

.chat-area {
    width: 85%;
}

@media (max-width: 1400px) {
  .sidebar {
      width: 18%; 
  }

  .chat-area {
      width: 82%; 
  }
}

@media (max-width: 1200px) {
  .sidebar {
      width: 20%; 
  }

  .chat-area {
      width: 80%; 
  }
}

@media (max-width: 900px) {
  .sidebar {
      width: 25%; 
  }

  .chat-area {
      width: 75%; 
  }
}

/* 📌 Punto de corte para móviles (hasta 767px) */
// @media (max-width: 767px) {
//   .sidebar {
     
//   }

//   .chat-area {
      
//   }

//   .header {
      
//   }

//   .main {
     
//   }
// }
